.expand-on-toolbar {
  flex: 1 1 auto;
}

mat-toolbar-row {
  justify-content: space-between;
}

.container {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.theme-option {
  text-align: center;
}
